name: main

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  flake:
    name: Check Nix flake
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Nix flake
        run: nix flake check --all-systems --print-build-logs --keep-going

  quarto:
    name: Build quarto webpage
    runs-on: ubuntu-latest
    needs:
      - flake
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Quarto webpage
        run: nix build .#quartoRender

      - name: Upload Quarto webpage
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: result

  pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs:
      - quarto
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
